pass ssh any any -> any any (msg:"pass rule with alert"; ssh.proto; content:"2"; alert; flow:established, to_server; sid:10201;)
pass tcp any any -> any any (msg:"allow session establishment"; alert; flow:not_established; sid:10202;)
drop ip any any -> any any (msg:"drop all packets"; sid:10211;)
