# Packet rules

# accept outgoing ping and the returning pongs
pass:flow icmp:flow_start $HOME_NET any -> $HOME_NET any (itype:8; msg:"Ping!"; alert; sid:1011;)
# allow session setup
pass:packet tcp:all $HOME_NET any <> $EXTERNAL_NET 443 (flow:not_established; alert; sid:1021;)
# some exception test
pass:flow tcp:all $HOME_NET any <> 1.2.3.4 443 (flow:established; alert; sid:1022;)

# pass rest of the flow to 
appfw:packet tcp:all $HOME_NET any <> $EXTERNAL_NET 443 (flow:established; alert; sid:1023;)

# default drop




# App-layer rules

# deny list some hash
drop:flow tls:client_hello_done $HOME_NET any -> $EXTERNAL_NET any (ja3.hash; content:"e7eca2baf4458d095b7f45da28c16c34"; msg:"Drop naughty JA3"; sid:102;)
# Disallow TLS v1.0 to some destinations.
drop:flow tls:server_hello_done $HOME_NET any -> $EXTERNAL_NET any (tls.version:1.0; msg:"TLS 1.0 not allowed"; sid:103;)

pass:flow tls:client_hello_done $HOME_NET any -> $EXTERNAL_NET any (tls.sni; content:"www.google.com"; sid:104; alert;)
# allow tls before client hello is done.
# TODO Since hook "in_progress" will also be triggered once if the protocol has progressed beyond it, we need to place this after client_hello_done. Perhaps we need a way to specify matching the hook as it is now.
pass:packet tls:client_in_progress $HOME_NET any -> $EXTERNAL_NET any (alert; sid:105;)

# default drop
