alert http any any -> any any (msg:"test xor match on a sticky buffer"; http.method; content:"POST"; http.uri; content:".php"; endswith; http.request_body; content:"|4a 2f fb|"; fast_pattern; startswith; xor: key "0d0ac8", bytes 133, offset 0; xor_data; pcre:"/^G(?:[A-F]|%3[0-9]){7}%2D(?:[A-F]|%3[0-9]){8}%2D(?:[A-F]|%3[0-9]){8}%2D(?:[A-F]|%3[0-9]){8}%2D(?:[A-F]|%3[0-9]){9}$/"; sid:1; rev:1;)
alert http any any -> any any (msg:"test xor match on payload data"; content:"|0d 0a 0d 0a|"; xor: key "0d0ac8", bytes 133, relative; xor_data; pcre:"/^G(?:[A-F]|%3[0-9]){7}%2D(?:[A-F]|%3[0-9]){8}%2D(?:[A-F]|%3[0-9]){8}%2D(?:[A-F]|%3[0-9]){8}%2D(?:[A-F]|%3[0-9]){9}$/"; sid:2; rev:1;)
alert http any any -> any any (msg:"test xor match on payload data without prior content match"; xor: key "0d0ac8", offset 164; xor_data; content: "G%31%32%36D%38%30%32%2D%31%33%34%33A%32EC%2D%36%31%36D%30FCF%2D%32F%37A%35%31%39%39%2D%32%39%34%38%32%36D%35F"; sid:3; rev:1;)
alert http any any -> any any (msg:"test xor match with key '0d 0a 0d 0a' from byte extract"; content:"|0d 0a 0d 0a|"; byte_extract: 4, -4, xor_key, relative; xor: key xor_key, bytes 8, relative; xor_data; content: "|47 25 f6 36 22 f1 32 25|"; sid:4; rev:1;)
