# Rules are similar but would match on different postgresql transactions
# disclaimer: these rules are not a good example of pgsql rules for a real-life scenario,
# as there are no pgsql keywords used
alert pgsql any any -> any any (msg:"Pgsql table select"; content:"select"; nocase; sid:1;)
alert pgsql any any -> any any (msg:"Pgsql table delete"; content:"delete from"; nocase; sid:2;)
