# allow tcp handshake

pass tcp any any <> any 443 (flow:not_established; sid:1;)

# allow tls if the SNI matches, which it won't

pass tls any any <> any 443 (flow:established; tls.sni; content:"allowed.local"; sid:2;)

# drop everything else

drop ip any any -> any any (msg:"Drop all else"; flow:stateless; sid:3;)
