name: builds

on:
  - push
  - pull_request

jobs:
  
  pcapng-check:
    name: PCAP-NG Check
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt update
      - run: sudo apt -y install tshark
      - run: ./pcapng-check.sh

  ubuntu-18-04:
    name: Ubuntu 18.04
    runs-on: ubuntu-18.04
    container: ubuntu:18.04
    strategy:
      fail-fast: false
      matrix:
        branch:
          - master
          - master-5.0.x
          - master-6.0.x
    steps:
      - name: Install dependencies
        run: |
          apt update
          apt -y install \
                autoconf \
                automake \
                build-essential \
                git \
                jq \
                libpcre3 \
                libpcre3-dev \
                libpcre2-dev \
                libtool \
                libpcap-dev \
                libnet1-dev \
                libyaml-0-2 \
                libyaml-dev \
                libcap-ng-dev \
                libcap-ng0 \
                liblua5.1-dev \
                libmagic-dev \
                libnetfilter-queue-dev \
                libnetfilter-queue1 \
                libnfnetlink-dev \
                libnfnetlink0 \
                libhiredis-dev \
                libjansson-dev \
                libevent-dev \
                libevent-pthreads-2.1.6 \
                libjansson-dev \
                libpython2.7 \
                libnss3-dev \
                make \
                parallel \
                python3-distutils \
                python3-jsonschema \
                python3-yaml \
                rustc \
                software-properties-common \
                zlib1g \
                zlib1g-dev
      - run: cargo install --force --debug cbindgen
      - run: git clone --depth 1 https://github.com/catenacyber/jsonschema-rs-iter.git
      - name: Build jsonschema-rs-iter
        working-directory: jsonschema-rs-iter
        run: |
          cargo install --path .
      - run: echo "$HOME/.cargo/bin" >> $GITHUB_PATH
      - uses: actions/checkout@v2
      - run: python3 ./run.py --self-test
      - run: git clone https://github.com/OISF/suricata -b ${{ matrix.branch }}
      - run: git clone https://github.com/OISF/libhtp suricata/libhtp
      - name: Build Suricata
        working-directory: suricata
        run: |
          ./autogen.sh
          ./configure --enable-lua
          make -j2
      - name: Running suricata-verify
        working-directory: suricata
        run: python3 ../run.py --quiet
      - name: Running check-eve
        run: python3 ./check-eve.py

  almalinux:
    name: AlmaLinux 8
    runs-on: ubuntu-latest
    container: almalinux:latest
    strategy:
      fail-fast: false
      matrix:
        branch:
          - master
          - master-5.0.x
          - master-6.0.x
    steps:
      - name: Install dependencies
        run: |
          yum -y install dnf-plugins-core
          yum config-manager --set-enabled powertools
          yum -y install \
                autoconf \
                automake \
                cargo-vendor \
                diffutils \
                file-devel \
                gcc \
                gcc-c++ \
                git \
                jansson-devel \
                jq \
                lua-devel \
                libtool \
                libyaml-devel \
                libnfnetlink-devel \
                libnetfilter_queue-devel \
                libnet-devel \
                libcap-ng-devel \
                libevent-devel \
                libmaxminddb-devel \
                libpcap-devel \
                libtool \
                lz4-devel \
                make \
                nss-devel \
                pcre-devel \
                pcre2-devel \
                pkgconfig \
                python3-devel \
                python3-jsonschema \
                python3-sphinx \
                python3-yaml \
                rust-toolset \
                sudo \
                which \
                zlib-devel
      - run: cargo install --force --debug cbindgen
      - run: git clone --depth 1 https://github.com/catenacyber/jsonschema-rs-iter.git
      - name: Build jsonschema-rs-iter
        working-directory: jsonschema-rs-iter
        run: |
          cargo install --path .
      - run: echo "$HOME/.cargo/bin" >> $GITHUB_PATH
      - uses: actions/checkout@v2
      - run: python3 ./run.py --self-test
      - run: git clone https://github.com/OISF/suricata -b ${{ matrix.branch }}
      - run: git clone https://github.com/OISF/libhtp suricata/libhtp
      - name: Build Suricata
        working-directory: suricata
        run: |
          ./autogen.sh
          ./configure --enable-lua
          make -j2
      - name: Running suricata-verify
        working-directory: suricata
        run: python3 ../run.py --quiet
      - name: Running check-eve
        run: python3 ./check-eve.py
